@page "/"
@inject NavigationManager NavigationManager

<PageTitle>ProxyVoter - Register a proxy voter</PageTitle>
<div class="mx-auto max-w flex gap-24 justify-center mt-32 px-6">
    <div class="place-self-center">
        <p class="text-3xl">Make your voice heard</p>
        <p class="text-blue-800 text-5xl">Register a proxy voter</p>

        <button 
            class="mt-8 rounded-md bg-blue-700 text-white text-lg font-bold p-4 shadow-lg shadow-blue-600 hover:bg-blue-800"
            @onclick="OnRegisterButtonClicked"
            >Register a Proxy Voter</button>
    </div>

    <div class="w-80">
        <img src="https://gist.githubusercontent.com/cmaneu/64d67c0935fc79f3de0fd264107a4b7f/raw/6eccce1e59fb88e2f8b9b4e11c769b24ec05a814/illustration.svg" />
    </div>
</div>

@code {


    
    public void OnRegisterButtonClicked()
    {
        NavigationManager.NavigateTo("/submit-application");
    }
}